
<div class="row">

    <div class="col-xs-12">
        <button class="btn btn-success">New Recepie</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor ="let r of recepies">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{r.name}}</h4>
                <p class="list-group-item-text">{{r.description}}</p>
            </div>
            <span class="pull-right">
                <img src="https://www.google.com/search?q=recipe+logo&rlz=1C1CHBD_enIN916IN916&sxsrf=ALeKk029Je-PrI9Qo1djdmLtlG-OUUiyeg:1598427266159&tbm=isch&source=iu&ictx=1&fir=w9vNBHL5RFI5dM%252CLp43nimClDmluM%252C_&vet=1&usg=AI4_-kRh8vbzVYjugxgD7xJkBaCtqDQqwA&sa=X&ved=2ahUKEwi9_JfLrbjrAhW87HMBHYHtDWMQ9QEwAXoECAoQLg#imgrc=w9vNBHL5RFI5dM" alt="{{r.name}}" class="img-responsive">
            </span>
        </a>
        <app-recepies-item></app-recepies-item>
    </div>
</div>


